# サイト名 (e.g. "それマジですごいヤバイ")
- title: "それマジですごいヤバイ"
  feed:
    # RSSフィードのURL (e.g. "https://pinkumohikan.com/feed/")
    url: "https://pinkumohikan.com/feed/"
    # RSSフィードの種類 (e.g. "rss20")
    type: "rss20"
  notify:
    # 通知方法 (e.g. "mail")
    method: "mail"
    # 通知先 (e.g. "in_code@pinkumohikan.com")
    destination: "in_code@pinkumohikan.com"
    # 通知時のタイトル (e.g. "")
    title: ""
    # 通知時のメッセージ本文 (e.g. "ブログを書きました。")
    body: "ブログを書きました。"
